 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
 
<head>
</head>
 
<body>
	<div th:fragment="saved_sqls" class="results-block">
	 		  
	 	<div layout:include="_datatable_page_info :: paginationbar" th:with="page=${savedSqlsPage},render='#savedsql'"  >
		</div> 
		
		<script>

		$(function(){	
		
			$("#query_saved_sql_button").click(function(){
			 
				$.ajax({
			        url : '/savedsql/search',
			        data : { 
			        	idConnection: $( "#select_server" ).val(),
			        	title: $("#filter_title").val(),
			        	code: $("#filter_contains_Sql").val(),
			        	tags: $("#filter_tag").val()
			        	} ,
			        type:"get",
			        dataType: 'html',
			        success : function(data) {            	                	
			        	$('#savedsql').html( data );	        	 
			            return false;
			        },
			        error: function(xhr){ 
			            console.log(xhr.responseText);
			        }
			    })
			});
		});
		
		</script>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			
				<div class="form-horizontal" th:object="${querySaveSqlForm}">
				  <div class="form-group">
				    <label for="filter_title" class="col-sm-2 control-label">Title</label>
				    <div class="col-sm-10">
				     
				      <input type="text" class="form-control" id="filter_title" placeholder="Title"  th:field="*{title}"/>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="filter_tag" class="col-sm-2 control-label">Tags</label>
				    <div class="col-sm-10">			   	 
				      <input type="text" class="form-control" id="filter_tag" placeholder="Tags"  data-role="tagsinput" th:field="*{tags}"/>
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="filter_contains_Sql" class="col-sm-2 control-label">Contains SQL</label>
				    <div class="col-sm-10">			   	 
				      <input type="text" class="form-control" id="filter_contains_Sql" placeholder="SQL" th:field="*{code}" />
				    </div>
				  </div>
				  
				  
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				       <a type="button"  id="query_saved_sql_button"  class="btn btn-default   btn-xs">Search</a> 
				    </div>
				  </div>
				</div>
			</div>
		</div>
		 <div class="table-responsive" th:unless="${#lists.isEmpty(savedSqls)}" >
		     <table  class="table table-bordered">
			 
				<thead>
					<tr>
					 
						<td>						
							<b th:text="Date">Date / Tag</b>
						</td>
					 
						<td>						
							<b th:text="SQL">SQL</b>
						</td>
						
						
						<td>						
							<b th:text="Actions"></b>
						</td>
					</tr>	 
					 
				</thead>
				<tbody>
					
					<tr th:each="row : ${savedSqls}">
						
					 
						
						<td style="width: 10%">
							<span th:text="${#dates.format(row.dateCreated, 'dd/MM/yyyy hh:mm:ss')}"></span>
							
							<span class="badge" th:text="${tag.name}" th:each="tag : ${row.tags}"></span>
						</td>
						
						<td>
							 
							<div id="editor-preview-sql-saved" th:id="|editor-preview-sql-saved-${row.id}|" class="my-code-area"  style="width: 100%; height:250px;"  th:text="${row.fullDescription}">
								${row.code}
							</div>
							<script th:inline="javascript">		 
								/*[+
		
								var id  = '[[${row.id}]]';
		
								+]*/
								var e = ace.edit("editor-preview-sql-saved-" + id);
								e.setShowPrintMargin( false );  
								e.setTheme("ace/theme/textmate");
								e.getSession().setMode("ace/mode/pgsql");
								e.setReadOnly(true); 
	
								document.getElementById("editor-preview-sql-saved-" + id).style.fontSize='16px';
								
							</script>
																	
						</td>
						
						
						<td style="width: 5%">
							<form action="#">
								 <button type="submit" class="btn btn-danger   btn-xs">Remove</button>
							</form>
						</td>
						
											
					</tr>				
					
				</tbody>
			</table>
			
			
		</div>
		
		<div layout:include="_datatable_page_info :: paginationbar" th:with="page=${savedSqlsPage},render='#savedsql'"  >
		</div> 
			
	</div>
	
	 
</body>  
</html>