<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>PGConsole</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
	
	<!-- Load jQuery -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   	<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>  		
   	<script src="//cdn.jsdelivr.net/jquery.fancytree/2.4.1/jquery.fancytree-all.min.js" ></script>    	     	 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>
	<script src="//cdn.jsdelivr.net/highlight.js/8.3/highlight.min.js"></script>
	<script th:src="@{/js/sweet-alert.min.js}" src="../static/js/sweet-alert.min.js" ></script>
	
	<!-- DataTables -->
	
		<script type="text/javascript" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		

	<link rel="stylesheet" th:href="@{/css/highlight-sql.min.css}" href="../static/css/highlight-sql.min.css" />
	<link rel="stylesheet" th:href="@{/css/agenda.css}" href="../static/css/agenda.css" />
	<link rel="stylesheet" th:href="@{/css/sweet-alert.css}" href="../static/css/sweet-alert.css" /> 
	<!-- DataTables CSS -->
	
	<link rel="stylesheet"  href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"/>
  
	 
	<style type="text/css">
			body {
			  padding-top: 50px; 
			  
			}  				
			#toTop{
				position: fixed;
				bottom: 10px;
				right: 10px;
				cursor: pointer;
				display: none;
			} 	
			modal .modal-body {
			    max-height: 420px;
			    overflow-y: 420px;
			}	
			
			 table { 
			}
			
			.div-table-content {
			  	max-height:250px;
			  overflow-y:auto;
			}
			 
						
	 </style>	
	   
</head>
<body role="document">

  	
	<div th:include="_header_menu :: header_menu"></div>
 

    <div class="container-fluid" role="main">
 	
		 
 
	<div class="row-fluid">
	
	
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		    <ul class="nav nav-tabs">
			    <li class="active">
			    	<a href="#tab1" data-toggle="tab">Console</a>
			    </li>
			    <li>
			    	<a href="#tab2" data-toggle="tab">Server Tree Navigation</a>
			    </li>
			     <li>
			    	<a href="#tab3" data-toggle="tab" id="link_reload_history">History</a>
			    </li>
			    
			     <li>
			    	<a href="#tab5" data-toggle="tab">SQL Statements Repository</a>
			    </li>
			    			    
			     <li>
			    	<a href="#tab6" data-toggle="tab">Edit Connection Settings</a>
			   	 </li>
		    </ul>
		    <div class="tab-content">
			    <div class="tab-pane active" id="tab1"> 
				 
						<div id="editor" class="my-code-area"  style="width: 100%; height:400px;"></div>
						<span id="save_status"></span>
						 
						 <p/>
						<input type="button" id="execute-sql" value="Run >>" class="btn btn-success  btn-xs" />
						<input type="button"  id="format-sql"  value="SQL Beautifier" class="btn btn-default  btn-xs" />
						
						<a data-toggle="modal" data-target="#keyboard-shortcuts" class="pull-right">Keyboard Shortcuts</a>
					   	<hr/>
					   	
					   	<div id="ajax_loading">					   	 
					   		<img alt="Wait..." src="../static/img/ajax.gif" th:src="@{/img/ajax.gif}" />
					   	</div>
						<div id="result">
							No Query yet executed
						</div>
			    </div>
			    <div class="tab-pane" id="tab2">
			    
			    
			    	<div class="row">
					  <div class="col-xs-6">					  			   
			    		<hr />		
			    		
						<div id="tree">
							
						</div>
					  </div>
					  <div class="col-xs-6">
					   	<hr />		
			    		
					  	<pre class=""><code class="sql" style="width:100%" id="objectDescription"></code></pre>	
					  	 						
					  </div>
					</div>
			     
					  
						
			    </div>
			     <div class="tab-pane" id="tab3">
			    	<div id="history">					   
			    		    	
			    	</div>	 						
			    </div>
			     <div class="tab-pane" id="tab4">
			    			 
						
			    </div>
			    
			    <div class="tab-pane" id="tab5">
			    			 
						
			    </div>
			    
			      
			    <div class="tab-pane" id="tab6">
			    			 
						
			    </div>
		    </div>
	    </div>
 
	 </div>	 
	  
	<div th:include="_modal_shortcuts :: keyboard_shortcuts"></div>
	
	<div th:include="_modal_new_connection :: modal_new_connection"></div>	
	
	<div th:include="_modal_save_queries :: modal_save_queries"></div>
 
	
	<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ace.js" type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/ace/1.1.7/min/theme-twilight.js"  type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/ace/1.1.7/noconflict/mode-sql.js"  type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-language_tools.js" type="text/javascript"></script>
	<script src="/js/main.js"></script>	
	<script src="/js/connection.js"></script>	
    </div>
</body>
</html>